In [1]:
#tuple same as list , itsm cllection of data type to store data
# only two function avilable in tuple index and count

In [14]:
t=(2,3,4,5,"sufee", 45.4, 5,False,[2,'s'])
for i in t:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'list'>

In [9]:
print(type(t))
len(t)

<class 'tuple'>

8

In [13]:
t[3]

5

In [15]:
t.count(5)

2

In [16]:
t.index("sufee")

4

In [17]:
##############################################
##############################################

In [ ]:
#hashing is use to keep element unique
#linear element

In [44]:
s={3,2,1,4,2,(5,'sss') }#in set we dont use list becouse list is mutable

In [45]:
s

{(5, 'sss'), 1, 2, 3, 4}

In [33]:
#in list want to remove duplicate value same as set , we use set()  function
l=[3,4,2,5,6,2,7,"suf","suf"]
set(l)#but output convert datatype convert....list into set ()to {}

{2, 3, 4, 5, 6, 7, 'suf'}

In [37]:
l=list(set(l))#typecasting {} to()
l

[2, 3, 4, 5, 6, 7, 'suf']

In [46]:
s

{(5, 'sss'), 1, 2, 3, 4}

In [2]:
s1={2,4,1,6,7,3,45}
s1

{1, 2, 3, 4, 6, 7, 45}

In [7]:
s1.add(8)#you can add any number at any index
s1

{1, 3, 4, 6, 7, 8, 45}

In [ ]:
s1.remove(3)
s1

In [ ]:
##############################

In [7]:
t=(2,3,4,5,"sufee", 45.4, 5,False,[20,'s'])
t[8][0]

20

In [2]:
t1=(1,2,3)
t2=(4,5,6)
t1.reverse(t2)

AttributeError: 'tuple' object has no attribute 'reverse'

In [2]:
t1

(1, 2, 3)

In [ ]:
t = (1, 1, 1, 1, 1)

if t.count(t[0]) == len(t):
    print("same")
else:
    print("Not same.")