In [1]:
#tuple same as list , collection of all data type to store data
# only two function avilable in tuple index and count
tuples are imutable

In [4]:
t=(2,3,4,5,"sufee", 45.4, 5,False,[2,'s'])
for i in t:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
sufee
<class 'str'>
45.4
<class 'float'>
5
<class 'int'>
False
<class 'bool'>
[2, 's']
<class 'list'>

In [9]:
print(type(t))
len(t)

<class 'tuple'>

8

In [13]:
t[3]

5

In [15]:
t.count(5)

2

In [12]:
t.index("sufee")

4

In [7]:
t

(2, 3, 4, 5, 'sufee', 45.4, 5, False, [2, 's'])

In [10]:
t[::-1]

([2, 's'], False, 5, 45.4, 'sufee', 5, 4, 3, 2)

-------- SET --------
set support only imutable collection

In [ ]:
#hashing is use to keep element unique
#linear element means without a key pair element

In [14]:
# blank {} define as dict by default
st={}
type(st)

dict

In [13]:
# list doesnt support in set, because list is mutable
set={234,567,'abv', [4,3,2],('abd' ,8.9)}

TypeError: unhashable type: 'list'

In [44]:
s={3,2,1,4,2,(5,'sss') }

In [45]:
s

{(5, 'sss'), 1, 2, 3, 4}

In [18]:
# set remove all the deuplicate

s1={1,2,3,3,4,2,2,5,6,7,5,6,6,7,7,8,8}
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
#in list want to remove duplicate value same as set , we use set()  function
l=[3,4,2,5,6,2,7,"suf","suf"]
set(l)#but output convert datatype convert....list into set ()to {}

{2, 3, 4, 5, 6, 7, 'suf'}

In [37]:
l=list(set(l))#typecasting {} to ()
l

[2, 3, 4, 5, 6, 7, 'suf']

In [46]:
s

{(5, 'sss'), 1, 2, 3, 4}

In [35]:
s[2]
s[::-1]# index or slicing operation doesnt support

NameError: name 's' is not defined

In [23]:
s2={2,4,1,6,7,3,45}
s2

{1, 2, 3, 4, 6, 7, 45}

In [33]:
s2.add(5)#you can add any number at any index
s2

{1, 2, 4, 5, 6, 7, 8, 45}

In [54]:
l=list(s2)
l

[1, 2, 4, 5, 6, 7, 8, 45]

In [55]:
l.insert(2,'two')
l

[1, 2, 'two', 4, 5, 6, 7, 8, 45]

In [56]:
set(l)

{1, 2, 4, 45, 5, 6, 7, 8, 'two'}

In [25]:
s2.remove(3)
s2

{1, 2, 4, 6, 7, 8, 45}

In [ ]:
##############################

In [57]:
t=(2,3,4,5,"sufee", 45.4, 5,False,[20,'s'])
t[8][0]

20

In [2]:
t1=(1,2,3)
t2=(4,5,6)
t1.reverse(t2)

AttributeError: 'tuple' object has no attribute 'reverse'

In [2]:
t1

(1, 2, 3)

In [ ]:
t = (1, 1, 1, 1, 1)

if t.count(t[0]) == len(t):
    print("same")
else:
    print("Not same.")