In [4]:
#dictaionary --key:value pair
#key should always be unique, otherwise them upadte itself

In [17]:
d={'name':'sufee', 'age':23, False:122345 ,123:"num"} 
d

{'name': 'sufee', 'age': 23, False: 122345, 123: 'num'}

In [7]:
#we dont use index , use key

In [9]:
d

{'name': 'sufee', 'age': 23, 'mail': 'ss07@gc', 123: 'num'}

In [13]:
d[123]

'num'

In [19]:
d[0]#here we 0 instead of false

122345

In [20]:
d1={'name':'sufee', 'name':'sufeeya','age':23, False:122345 ,123:"num"} 
d1 #name is dulicate so override with second (sufeeya)

{'name': 'sufeeya', 'age': 23, False: 122345, 123: 'num'}

In [21]:
d1['name']

'sufeeya'

In [31]:
d2={'name':'sufee', 12:23, 'course':['ds','dsa','fsd']}
d2 #as a value we can put list also

{'name': 'sufee', 12: 23, 'course': ['ds', 'dsa', 'fsd']}

In [32]:
for i in d2:
    print(i)
    print(type(i))

name
<class 'str'>
12
<class 'int'>
course
<class 'str'>

In [33]:
d2

{'name': 'sufee', 12: 23, 'course': ['ds', 'dsa', 'fsd']}

In [38]:
d2['course'][2]

'fsd'

In [60]:
d3={'num':[1,2,3,4,5],'as':(1,2,3,44,55,"ede"), 'Ld':{23,25,26} , "ct":{ 'ds': 2, "dsa":4}}
d3

{'num': [1, 2, 3, 4, 5],
 'as': (1, 2, 3, 44, 55, 'ede'),
 'Ld': {23, 25, 26},
 'ct': {'ds': 2, 'dsa': 4}}

In [61]:
for i in d3:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [69]:
d3['ct']['ds']

2

In [63]:
d3['as'][-4:-1]

(3, 44, 55)

In [72]:
d3['men']=['ab','cd','df']
d3 #add new 'men key' in d3

{'num': [1, 2, 3, 4, 5],
 'as': (1, 2, 3, 44, 55, 'ede'),
 'Ld': {23, 25, 26},
 'ct': {'ds': 2, 'dsa': 4},
 'men': ['ab', 'cd', 'df']}

In [74]:
d3['Ld']={21,22,28} 
d3 #ld replace with old ld

{'num': [1, 2, 3, 4, 5],
 'as': (1, 2, 3, 44, 55, 'ede'),
 'Ld': {21, 22, 28},
 'ct': {'ds': 2, 'dsa': 4},
 'men': ['ab', 'cd', 'df']}

In [75]:
dic = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del dic["model"]# delete model
print(dic)

{'brand': 'Ford', 'year': 1964}

In [76]:
d3

{'num': [1, 2, 3, 4, 5],
 'as': (1, 2, 3, 44, 55, 'ede'),
 'Ld': {21, 22, 28},
 'ct': {'ds': 2, 'dsa': 4},
 'men': ['ab', 'cd', 'df']}

In [79]:
d3.keys()# make list of all keys in d3.... then also convert into list use list ()

dict_keys(['num', 'as', 'Ld', 'ct', 'men'])

In [80]:
d3.values()

dict_values([[1, 2, 3, 4, 5], (1, 2, 3, 44, 55, 'ede'), {28, 21, 22}, {'ds': 2, 'dsa': 4}, ['ab', 'cd', 'df']])

In [83]:
list(d3.items())#make pair of keys and values ..these all are hold tuple and list

[('num', [1, 2, 3, 4, 5]),
 ('as', (1, 2, 3, 44, 55, 'ede')),
 ('Ld', {21, 22, 28}),
 ('ct', {'ds': 2, 'dsa': 4}),
 ('men', ['ab', 'cd', 'df'])]

In [87]:
d3.pop("men")#remove men from list

['ab', 'cd', 'df']

In [88]:
d3

{'num': [1, 2, 3, 4, 5],
 'as': (1, 2, 3, 44, 55, 'ede'),
 'Ld': {21, 22, 28},
 'ct': {'ds': 2, 'dsa': 4}}

In [90]:
d3.popitem()
#remove last key value itself

('ct', {'ds': 2, 'dsa': 4})

In [91]:
d3

{'num': [1, 2, 3, 4, 5], 'as': (1, 2, 3, 44, 55, 'ede'), 'Ld': {21, 22, 28}}