In [ ]:
#####is and in operator

In [3]:
a = [1, 2, 3]
b = [11,22]
print(a is b)

False

In [4]:
a = [1, 2, 3]
b = a
print(a is b) #because a and b reference the same object

True

In [7]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b) #its false buz both are distinct object but with same value , a=b then its True.

False

In [6]:
#in operator check if a value exists in list or other object 
a = [1, 2, 3]
print(1 in a)  # Output: True

b = 'Hello, Codedamn!'
print('Z' in b)  # Output: False

True
False

In [7]:
##############################lllllooooooopppp

In [9]:
list=[1,2,3,4,4,5,5,6,7,7,8]
for i in list:   # i temporary var
    print(i)

1
2
3
4
4
5
5
6
7
7
8

In [20]:
# i is temporary memory / variable
l=[1,2,3,4,5,6,7,8]
lo=[]
for i in l: 
    print(i)
    lo.append(i+1)
lo

1
2
3
4
5
6
7
8

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
li=['abc', 'def', 'ghi']
ul=[]
for i in li:
    print(i)
    ul.append(i.upper())
ul

abc
def
ghi

['ABC', 'DEF', 'GHI']

In [25]:
l1=[1,2,3,4,5]
L1=[]
for i in range (0, 15):
    L1.append(i)
    
L1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [33]:
l=[1,2,3,4,4 ,'sufeeya',2.78, 'nusrat']
l_num=[]
l_str=[]
for i in l: 
    if type(i)== int or type(i)==float:
        l_num.append(i)
    else:
        l_str.append(i)
print(l_str ,' type is strng' )

['sufeeya', 'nusrat']  type is strng

In [42]:
#------------- there is an error
user_input= input('Enter a list element :')
str_list=user_input.split(',')

l_n=[]
l_s=[]

for i in str_list:
    if type(i) == int :
        l_n.append(i)
    else:
        l_s.append(i)

print(f'Number : {l_n} , and the type is numeric')
print(f"Strings: {l_s} (type is string)")

Enter a list element : 2,3

Number : [] , and the type is numeric
Strings: ['2', '3'] (type is string)

In [44]:
l2=[1,2,3,4,5]
r = input("Enter the range (start and end separated by space): ").split()

start=int(r[0])
end=int(r[1])+1

for i in range (start, end):
    l2.append(i)
l2

Enter the range (start and end separated by space):  2 6

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [ ]:
a=['sufeeya','parween']
a=[i.upper()for i in a]# list comprehension
a

In [46]:
a1=input('enter somthing-').split()
up=[] #this empty list store upper version(new input) of string
for i in a1:
    up.append(i.upper())
up

enter somthing- jdkjh jhbf jhdf

['JDKJH', 'JHBF', 'JHDF']

In [1]:
l3=[1,2,3,3,4,'sufee','parween',12.3,345,'abc']
ln=[]
ls=[]
for i in l3:
    if type(i)==int or type(i)==float:
        ln.append(i)
    else:
        ls.append(i)
print(ln)
print(ls)

[1, 2, 3, 3, 4, 12.3, 345]
['sufee', 'parween', 'abc']