In [1]:
#fun reusebility increase, adv - modularity increase inhace . optimise and structured ur code

In [ ]:
def is definition of function 
fun name canbe anything
def test():

In [ ]:
def tst():
    pass #keyword use only to nothing define anything

In [ ]:
def tst1():
    print('this is my first function')# nothing will be print , so u have to call function

In [ ]:
tst1() # call funtion , output always a Nonetype, print returns datatype wise nonetype

In [2]:
def t2():
    return'this is my first return '
t2()# here it return string,

'this is my first return '

In [3]:
t2() + "sufeeya"

'this is my first return sufeeya'

In [4]:
def t3():
    return 5*2
t3()+2

12

In [18]:
#return as  it is return ur datatype. but print returns NOnetype  both are diffrnt

In [14]:
def t4():
    return "sufeeya" , 2 , 34.5,[1,2,5],{'a','b '}, {"ct":{ 'ds': 2, "dsa":4}}
print(t4())

('sufeeya', 2, 34.5, [1, 2, 5], {'b ', 'a'}, {'ct': {'ds': 2, 'dsa': 4}})

In [15]:
type(t4)

function

In [30]:
a,b,c,d,e,f=t4()# unpacking a tuple

In [21]:
a

'sufeeya'

In [22]:
b

2

In [33]:
c

34.5

In [27]:
e

{'a', 'b '}

In [35]:
d

[1, 2, 5]

In [28]:
e

{'a', 'b '}

In [6]:
def t5():
    a=100*36/5# objective ,, logic
    return a
print([t5()+100])#[t5()+100]

[820.0]

In [7]:
b=[t5()+100] # convert into list
b

[820.0]

In [8]:
# user input (argument)
def t6(a,b,c):# (.....) user input in argument
    d=a+b*c
    return d
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
c = float(input("Enter the value of c: "))
print("result-",t6(a,b,c)) # parameters are placeholders for values that will be passed into the function when it is called.

Enter the value of a:  4
Enter the value of b:  6
Enter the value of c:  7

result- 46.0

In [12]:
def t7(a,b):
       return a+b
t7("s", "p")

'sp'

In [29]:
l=[1,2,3.6,4,"sufeeya",'abc',[2.3,5,6]]
def t8(l): #input take()
    l1=[]
    l2=[]
    for i in l:
        if type(i)==int or type(i)==float:    #  if isinstance(i, (int, float)):                                     # l1.append(j)
            l1.append(i)
            
        elif type(i)==list:  #  elif isinstance(i, list) 
            for j in i:
                l1.append(j)
                
        else :
            l2.append(i)
       
    return l1
    return l2
t8(l)

[1, 2, 3.6, 4, 2.3, 5, 6]

In [38]:
def t9(a):
    '''this is my docstring.
    It is used to provide documentation about the object, 
    describing what it does and how it should be used.'''
    a=10*3678//5  #// is for interger return, without // it will automaticaly return into float
    return a
t9(6)

7356

In [8]:
def t10(*args): # as.te.risk *args,, n number of input/ argu u can pass
    return args
t10(1,2,3,'suufeya')

(1, 2, 3, 'suufeya')

In [10]:
def t11(*args): #*args u can rename also
        return args
t11("sufeeya",123)

('sufeeya', 123)

In [36]:
def my_function(*abc):
     return abc

my_function(1, 2, 3)
print(my_function('a', 'b', 'c', 'd')) # explicity .. clear easy to udrstnd, fully revealed without ambiquity (a word with diff meanings
my_function(True, False, True, False, True) # because it's the last expression evaluated in your code.

('a', 'b', 'c', 'd')

(True, False, True, False, True)

In [4]:
def t12(*fun, a):
    return fun, a
t12(1,2,3, a='sufeeya')

((1, 2, 3), 'sufeeya')

In [ ]:
def fun(*kids):
    print("The youngest child is " + kids[1])

fun("Emil", "Tobias", "Linus")

In [10]:
def t13(c,d,a=2,b=3):
    return  a+b-c*d

t13(5,10)

-45

In [12]:
t13( 4,7,a=3)# here override  value

-22

In [15]:
def t14(**ast): #**kwargs parameter collects all the keyword arguments passed to the function into a dictionary.
    return ast
t14()# return dictionary

{}

In [1]:
def tt(**abc):
     print("The youngest child is " + abc['c3'])

tt(c1 = "Emil", c2 = "Tobias", c3 = "Linus")

The youngest child is Linus

In [ ]:
l =[2,3,4,5,6,7]

def sq(l):
    l1=[]
    for i in l :
        l.append(i**2)
    return l1

sq(l)