In [ ]:
map(function, iterables) must have two args

In [26]:
l=input('Enter list separated by commas: ').split(',')
def sq(l):
    return int(l)**2 #list contains integers as strings ,,,converting them into integers e
list(map(sq, l))

Enter list separated by commas:  2

[4]

In [30]:
l1=[2,3,4,5,6]

def sq2(l1):
    return l1**2
tuple(map(sq2,l1)) # wrappe with tuple , whaterver u want list set

(4, 9, 16, 25, 36)