In [ ]:
series is just like a column in a table,

In [3]:
import  pandas as pd

In [4]:
df = pd.read_csv('raw_data.csv')

In [5]:
df.columns

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [37]:
s = df['Name']
s.iloc[1:5]

1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [39]:
#chunk data , means a small data
s= df['Name'][0:10]
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [28]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [12]:
# named index , whateever as we want
l =['a','b','c','d' ,'e', 'f' ,'g','h','i', 'j']

In [26]:
s1= pd.Series(list(s),index=l)

#--s1= pd.Series(s,index=l)

In [27]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [24]:
s[0]

'Braund, Mr. Owen Harris'

In [31]:
s1['a'] #[0] also can use

'Braund, Mr. Owen Harris'

In [44]:
s2 =s1.append(s)
s2

/tmp/ipykernel_1789/3957836292.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 =s1.append(s)

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [43]:
s2[4] # check which index  it takes named or default

'Allen, Mr. William Henry'

In [57]:
s4=pd.Series([3,4,5,6,6], index=[2,4,5,3,1])
s4

2    3
4    4
5    5
3    6
1    6
dtype: int64

In [58]:
s5 =pd.Series([31,42,54,62,63], index=[6,4,9,7,10])

In [59]:
s5

6     31
4     42
9     54
7     62
10    63
dtype: int64

In [60]:
s6=s4.append(s5)
s6

/tmp/ipykernel_3786/1941200204.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6=s4.append(s5)

2      3
4      4
5      5
3      6
1      6
6     31
4     42
9     54
7     62
10    63
dtype: int64

In [61]:
s6[4]

4     4
4    42
dtype: int64

In [62]:
s6[0:5] #only in slicing it takes defult index

/tmp/ipykernel_3786/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
3    6
1    6
dtype: int64

In [63]:
s4

2    3
4    4
5    5
3    6
1    6
dtype: int64

In [64]:
s5

6     31
4     42
9     54
7     62
10    63
dtype: int64

In [65]:
s4*s5 #NaN represents missing or undefined data.   "Not a Number"

1       NaN
2       NaN
3       NaN
4     168.0
5       NaN
6       NaN
7       NaN
9       NaN
10      NaN
dtype: float64

In [66]:
s4+s5

1      NaN
2      NaN
3      NaN
4     46.0
5      NaN
6      NaN
7      NaN
9      NaN
10     NaN
dtype: float64